/**
 * @name Discord Blackout
 * @version 1.0.0
 * @description A smooth, black theme for Vencord/BetterDiscord
 * @source https://github.com/zenithpaws/Discord-Blackout
 * @updateUrl https://zenithpaws.github.io/Discord-Blackout/Discord-Blackout.theme.css
 * @website https://github.com/zenithpaws/Discord-Blackout 
 * @invite WaTFrzaYxk
 * @author zenithpaws
 * @authorId 487638433179762688
 * @authorLink https://linktr.ee/zenithpaws
*/

/* Discord Night 0.9.5.8 by KillYoy#0295 (https://github.com/KillYoy/DiscordNight) */
@import url(https://zenithpaws.github.io/Discord-Blackout/Discord-Night-0.9.5.8/Discord-Night.css);

/* Horizontal Server List 2.1.0 by Gibbu#1211 (https://github.com/DiscordStyles/HorizontalServerList) */
@import url(https://zenithpaws.github.io/Discord-Blackout/Horizontal-Server-List-2.1.0/dist/Horizontal-Server-List.css);

/* Blurple Recolor 1.0.0 by DevilBro (https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor) */
@import url(https://zenithpaws.github.io/Discord-Blackout/Blurple-Recolor-1.0.0/Blurple-Recolor.css);

/* Discolored 1.3 by snapper#0001 and Nyria#4198 (https://github.com/NYRI4/Discolored) */
@import url(https://zenithpaws.github.io/Discord-Blackout/Discolored-1.3/Discolored.css);

:root {
	/* Discord Night Settings */
	--Settings-Theme-Version: "DiscordNight v0.9.5.8";
	
	--Channel-Invite-Edit-Buttons: none;				/* flex = ON, none = OFF */
	--Channel-Category-Invite-Button: flex;				/* flex = ON, none = OFF */
	--Channel-List-Active-Threads: flex;				/* flex = ON, none = OFF */
	--Channel-List-Upcoming-Events: flex;				/* flex = ON, none = OFF */
	--Channel-List-Boost-Goal: block;					/* block = ON, none = OFF */
	--Channel-List-Width: 200px;						/* 200px, Discord default = 240px */
	
	--User-List-Width: 200px;							/* 200px, Discord default = 240px */
	--User-Popout-Width: 240px;							/* 240px, Discord default = 300px */
	--User-Status-Popout-Width: var(--Channel-List-Width);/* 240px, Discord default = 300px */
	
	--Search-List-Width: 488px;							/* 488px, Discord default = 418px */
	--Inbox-List-Width: 522px;							/* 522px, Discord default = 480px */
	
	--Emoji-Menu-Height: 612px;							/* 612px or 492px, Discord default = 444px */
	
	--Chatbox-Gift-Button: none;						/* flex = ON, none = OFF */
	--Chatbox-GIF-Button: none;							/* flex = ON, none = OFF */
	--Chatbox-Stickers-Button: none;					/* flex = ON, none = OFF */
	
	--Chat-Emoji-Size: 1.75rem;							/* 1.75rem, Discord default = 1.375rem */
	--Chat-Emoji-Large-Size: 2rem;						/* 2rem, Discord default = 3rem */
	--Chat-Sticker-Size: 10rem;							/* 5rem, Discord default = 10rem */
	--Chat-Super-Reaction-Button: none;					/* flex = ON, none = OFF */
	--Chat-Wave-To-New-User-Button: flex;				/* flex = ON, none = OFF */
	--Chat-Wave-To-New-DM-Button: flex;					/* flex = ON, none = OFF */
	
	--Text-Channels-Capital-Letter: capitalize;			/* capitalize, none */
	
	--Voice-Noise-Suppression: flex;					/* flex = ON, none = OFF */
	--Start-Activities-Button: flex;					/* flex = ON, none = OFF */
	
	--Embed-Remove-Button: flex;						/* flex = ON, none = OFF */
	
	--Context-Menu-Emoji-Toolbar: none;					/* flex = ON, none = OFF */
	
	--Super-Reaction-Animations: none;					/* flex = ON, none = OFF */
	--User-Profile-Effects: flex;						/* flex = ON, none = OFF */
	
	--Home-Nitro-Button: none;							/* flex = ON, none = OFF */
	--Home-Store-Button: none;							/* flex = ON, none = OFF */
	--Home-Direct-Messages-Header: flex;				/* flex = ON, none = OFF */
	--Home-Close-DM-Button: block;						/* block = ON, none = OFF */
	--Friends-List-Searchbar: none;						/* flex = ON, none = OFF */
	
	--Titlebar-Help-Icon: none;							/* flex = ON, none = OFF */

	/* Horizontal Server List Settings */
	--HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
	--HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
	--HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */

	/* Blurple Recolor Settings */
	--accentcolor:			163,47,194;		/*	blurple		-	default:	88,101,242		*/
	--accentcolor2:			225,115,180;	/*	boostpink	-	default:	255,115,250		*/
	--linkcolor:			190,60,220;		/*	link		-	default:	0,176,244		*/
}